<div class="popover" style="height: 370px;width: 550px;">
    <div style="min-height: 2em">
        <button type="button" class="close">
            <span>×</span>
        </button>
    </div>
    <div class="" id="chart"></div>

    <!--<div class="popover-footer container">-->
        <!--<label for="workingDaySet">设定工作日</label>-->
        <!--<input type="text" id="workingDaySet" name="workingDaySet" style="color: whitesmoke" class="border-transparent" placeholder="工作日设定">-->
    <!--</div>-->
</div>