<!--<li class="stage-list-item">-->
<header class="item-header no-padder">
        <span class="item-header-label">
            <span class="name">
            </span>
            <span>
                <a class="column-name" name="<%= type %>"><%= name %></a>
                <% if(typeof dod !== 'undefined' && dod && pos !== 10){ %>
                    <a href="#" class="dod" title="<%= dod %>">DOD</a>
                <% } %></span>
            <span>&middot; </span>
            <span id="collectionCount"> <%= collectionLength %></span>
            <span role="time-range"></span>
        </span>
    <span class="tools"></span>
</header>
<!--</li>-->