<div class="task-priority p<%= priority %>"></div>
<div class="flex jc-space-between">
    <span class="title-wrap">
        <img class="icon" src="<%= rootPath %>/images/issueicon/<%= issueType %>.png">
        <span class="title"><%= subject %></span>
    </span>
    <div class="flex jc-space-between start" >
        <span class="story" title="故事点"><%= storyNum %></span>
        <span class="assigner"><%= assigner %></span>
    </div>
</div>

<div class="flex jc-space-between">
    <div class="flex-item-wrap start">
    	<% 
    	if(planPublishDate){
	    	var d = new Date(); d.setDate(d.getDate()-1); 
	        if((new Date(planPublishDate) <= d) && (resolved != 1))   
	            { print ('<span class="date red" >')} 
	        else    
	        	{ print ('<span class="date">')}
	        print(new Date(planPublishDate).format('yyyy-MM-dd') + '&nbsp截止</span>')
        }%>
              

        <% if(emergency == 1)  { print ('<span class="tags" >紧急&nbsp</span>')}   %>
        <div class="flex-item-wrap" title="<%= tagName %>">
            <%
            if(tagName){
                var tags = tagName.split(',');
                var tagEls = tags.map(function(tag){
                return '<span class="tags">' + tag + '</span>'
                })
                 print(tagEls.splice(0,2).join(''))
            }
            %>
        </div>
    </div>

    <div class="flex-item-wrap">
        <% if(isBug) print(' <span class="fa fa-bug" style="color: green"></span> ') %>
        <% if(blockNum) print(' <span class="glyphicon glyphicon-alert" style="color: red"></span> ') %>
    </div>
</div>