<div>
    <div class="input-group input-group" style="width: 100%">
        <span class="input-group-addon" style="width: 140px">软件包名称</span>
        <input type="input" class="form-control" key="name" placeholder="请填写软件包名称">
    </div>

    <div class="input-group input-group" style="width: 100%">
        <span class="input-group-addon" style="width: 140px">软件包MD5值</span>
        <input type="input" class="form-control" key="MD5" placeholder="请填写软件包MD5">
    </div>

    <div class="input-group input-group" style="width: 100%">
        <span class="input-group-addon" style="width: 140px">研发存放路径</span>
        <input type="input" class="form-control" key="ip" placeholder="请填写服务器IP">
        <input type="input" class="form-control" key="path" placeholder="请填写路径">
    </div>
</div>
<a href="#" class="input-group-addon no-border" role="delete">删除</a>