<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content task-detail-bg">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="taskDetailLabel">拆解需求-- <span id="task-detail-title"><%= subject %></span>
                &nbsp;&nbsp;&nbsp;
                <% if(typeof pmsUrl != 'undefined' && pmsUrl) { %>
                <a href="<%= pmsUrl%>" target="_blank">PMS链接</a>&nbsp;&nbsp;&nbsp;
                <% } %>
                <% if(typeof issueKey != 'undefined' && issueKey) {%>
                <a href= "<%= jiraUrl%>/browse/<%= issueKey%>" target="_blank">JIRA链接</a>
                <% } %>
            </h4>
        </div>
        <div class="task-detail-split" style="float:left;width:15%">
            <ul class="task-list" id="childSplit" style="padding: 0px">
            </ul>
            <ul class="task-list" style="padding: 0px">
                <li class="task-list-item split btn btn-primary" style="text-align: center;flex: none;">
                    <a href="#" class="glyphicon glyphicon-plus" role="split"></a>
                </li>
            </ul>
        </div>
        <form class="modal-body" style="background: white;float:left;width:85%;max-height: 400px;overflow:auto">
            <div class="task-detail">
                <div class="task-detail-wrap">
                    <input class="border-transparent " id="subject" name="subject" placeholder="请输入子需求"
                           value="<%= subject%>">
                </div>
            </div>
            <div class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title">执行者</h6>
                    <select name="assignerId" id="assignerId" class="border-transparent"></select>
                </div>
                <div class="task-detail-wrap">
                    <h6 class="task-info-title">截止日期</h6>
                    <input class="form-control border-transparent" plugin='date-picker' id="planPublishDate"
                           name="planPublishDate"
                           value="<%= planPublishDate %>">
                </div>
                <div class="task-detail-wrap-min">
                    <h6 class="task-info-title">优先级</h6>
                    <select name="priority" id="priority" class="border-transparent">
                    </select>
                </div>
                <div class="task-detail-wrap-min">
                    <h6 class="task-info-title">故事点</h6>
                    <input class="border-transparent" id='storyNum' name="storyNum"
                           value='<% storyNum?print(storyNum):print("0")  %>'>
                </div>
                <div class="task-detail-wrap-min" readonly>
                    <h6 class="task-info-title">类型</h6>
                    <select name="issueType" id="issueType" class="border-transparent" disabled>
                    </select>
                </div>

                <div class="task-detail-wrap" readonly>
                    <h6 class="task-info-title">原始需求提出者</h6>
                    <input id='submitter' class="border-transparent" name="submitter"
                           value="<%= submitter %>"
                           readonly>
                </div>
            </div>

            <!--描述信息-->
            <div class="task-detail">
                <div class="task-detail-wrap">
        <textarea id="description" class="border-transparent hide" name="description" placeholder="请输入需求描述信息"
                  autofocus></textarea>
                </div>
            </div>

            <!--标签列表-->
            <div class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-tag"></span>&nbsp;标签列表</h6>
                    <select id="reqTagList" name="reqTagList" multiple="multiple" data-placeholder=" 添加标签">
                    </select>
                </div>
            </div>

            <!--关联内容-->
            <div class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-link"></span>&nbsp;关联内容</h6>
                    <select id="reqRelateList" name="reqRelateList" multiple="multiple"
                            data-placeholder=" 添加关联内容"></select>
                </div>
            </div>

            <!-- ac列表-->
            <div class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-link"></span>&nbsp;AC列表</h6>
                    <div class="acList">
                        <ul class="ac-list"></ul>

                        <div class="creator form-horizontal" style="display: block;">
                            <div class="col-sm-9">
                                <textarea class="ac-text form-control col-sm-10" rows="1"></textarea>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default" role="cancel">取消</button>
                                <button class="btn btn-primary" role="ac-save">保存</button>
                            </div>
                        </div>

                        <div class="create-handle">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="create-handle-label">添加AC</span>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 整体解决方案-->
            <div class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-link"></span>&nbsp;整体解决方案</h6>
                    <div class="totalSolution">
                        <ul class="ac-list"></ul>

                        <div class="creator form-horizontal" style="display: block;">
                            <div class="col-sm-8">
                                <div class="col-sm-6">
                                    <textarea class="ts-text1 form-control" rows="1" placeholder="请填写方案名"></textarea>
                                </div>
                                <div class="col-sm-6">
                                    <textarea class="ts-text2 form-control" rows="1" placeholder="请添加链接"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-default" role="cancel">取消</button>
                                <button class="btn btn-primary" role="ac-save">保存</button>
                            </div>
                        </div>

                        <div class="create-handle">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="create-handle-label">添加整体解决方案</span>
                        </div>

                    </div>
                </div>
            </div>

            <!-- 附件列表-->
            <div class="task-detail" enctype="multipart/form-data">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-link"></span>&nbsp;附件内容</h6>
                    <div class="attachmentList">
                        <ul class="list"></ul>
                        <div class="fileHandle">
                            <!--proejctkey 为字段名称限制-->
                            <input type="file" name="file" id="file">
                            <input style="display: none" type="text" name="projectKey"
                                   value="<% print('teamid/'+ teamId) %>">
                        </div>
                    </div>
                </div>
            </div>

            <!--参与者-->
            <div class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-user"></span>&nbsp;参与者</h6>
                    <select name="reqPartyList" id="reqPartyList" multiple data-placeholder="请选择参与者">
                        <% if(typeof reqPartyList !== "undefined"){
                        Array.prototype.forEach.call(reqPartyList, function(i){%>
                        <option value="<%= i.userId %>"><%= i.userName %></option>
                        <% }) } %>
                    </select>
                </div>
            </div>

            <div class="hide">
                <input id="parentId" name="parentId" value="<%= parentId %>">
                <input id="issueKey" name="issueKey" value="<% typeof issueKey !== 'undefined' ? issueKey : ''  %>">
                <input id="teamId" name="teamId" value="<%= teamId %>">
            </div>
        </form>

        <div class="modal-footer form-group" style="clear: both;">
            <button type="button" id="saveBtn" class="btn btn-primary" role="save">保存</button>
        </div>
    </div>
</div>