<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content task-detail-bg">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="taskDetailLabel">新建需求</h4>
            <hr/>
            <form class="form-horizontal"onsubmit="return false">
                <div class="form-group" style="margin-bottom: 0px">
                        <input type="text" id="subject" name="subject" class="form-control" placeholder="请输入需求名称">
                </div>
            </form>
        </div>
        <div class="modal-body" style="max-height: 400px;overflow: auto">

            <form class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title">执行者</h6>
                    <select name="assigner" id="assigner" class="border-transparent" ></select>
                </div>

                <div class="task-detail-wrap">
                    <h6 class="task-info-title">截止时间</h6>
                    <input class="form-control border-transparent" plugin='date-picker' name="planPublishDate" value="<%= planPublishDate %>"readonly>
                </div>

                <div class="task-detail-wrap">
                    <h6 class="task-info-title">优先级</h6>
                    <select name="priority" id="priority" class="border-transparent">
                        <option value="1" <% priority===1 ? print('selected'): '' %> >最高</option>
                        <option value="2" <% priority===2 ? print('selected'): '' %> >高</option>
                        <option value="3" <% priority===3 ? print('selected'): '' %> >中</option>
                        <option value="4" <% priority===4 ? print('selected'): '' %> >低</option>
                    </select>
                    <!--<input class="border-transparent" name="priority"  id="priority" value="<%= priority %>">-->
                </div>

                <div class="task-detail-wrap">
                    <h6 class="task-info-title">故事点</h6>
                    <input class="form-control border-transparent"name="storyNum" value="<%= storyNum %>">
                </div>

                <div class="task-detail-wrap">
                    <h6 class="task-info-title">类型</h6>
                    <select name="issueType" id="issueType" class="border-transparent">
                        <option value="1" <% issueType===1 ? print('selected'): '' %>>需求</option>
                        <option value="2"<% issueType===2 ? print('selected'): '' %>>缺陷</option>
                    </select>
                    <!--<input class="border-transparent bg-transparent" name="issueType" id="issueType" value="<%= issueType %>" readonly>-->
                </div>
                
                <div class="task-detail-wrap" <% if(reqState==2){%> style="background-color:#eee" <% } %>>
                    <h6 class="task-info-title">是否紧急</h6>
                    <select name="emergency" id="emergency" class="border-transparent" <% if(reqState ==2){ %> disabled style="background-color:#eee"<% } %>>
                        <option value="1" <% emergency===1 ? print('selected'): '' %>>是</option>
                        <option value="0"<% emergency===0 ? print('selected'): '' %>>否</option>
                    </select>
                </div>
                
                <div class="task-detail-wrap">
                    <h6 class="task-info-title">原始需求提出者</h6>
                    <input class="border-transparent" id="submitter" name="submitter" value="<%= submitter %>">
                </div>

            </form>

            <!--描述信息-->
            <form class="task-detail">
                <div class="task-detail-wrap">
                    <textarea class="border-transparent hide" name="description" id="description" placeholder="请输入需求描述信息"><%= description %></textarea>
                </div>
            </form>

            <!--参与者-->
            <form class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-user"></span>&nbsp;参与者</h6>
                    <select name="reqPartyList" id="reqPartyList" multiple="multiple"  data-placeholder=" 添加参与者"></select>
                </div>
            </form>

            <!--标签列表-->
            <form class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-tag"></span>&nbsp;标签列表</h6>
                    <select name="reqTagList" id="reqTagList" multiple="multiple"  data-placeholder=" 添加标签"></select>
                </div>
            </form>

            <!--关联内容-->
            <form class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-link"></span>&nbsp;关联内容</h6>
                    <select name="reqRelateList" id="reqRelateList" multiple="multiple"  data-placeholder=" 添加关联内容"></select>
                </div>
            </form>

            <!-- ac列表-->
            <form class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-link"></span>&nbsp;AC列表</h6>
                    <div class="acList">
                        <ul class="ac-list"></ul>

                        <div class="creator form-horizontal" style="display: block;">
                            <div class="col-sm-9">
                                <textarea class="ac-text form-control col-sm-10" rows="1"></textarea>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default" role="cancel">取消</button>
                                <button class="btn btn-primary" role="ac-save">保存</button>
                            </div>
                        </div>

                        <div class="create-handle">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="create-handle-label">添加AC</span>
                        </div>

                    </div>
                </div>
            </form>

        <!-- 整体解决方案-->
        <div class="task-detail">
            <div class="task-detail-wrap">
                <h6 class="task-info-title"><span class="glyphicon glyphicon-link"></span>&nbsp;整体解决方案</h6>
                <div class="totalSolution">
                    <ul class="ac-list"></ul>

                    <div class="creator form-horizontal" style="display: block;">
                        <div class="col-sm-9">
                            <div class="col-sm-1 solutionTitle solutionTitle-noSplit">方案名：</div>
                            <div class="col-sm-4">
                                <textarea class="ts-text1 form-control" rows="1"></textarea>
                            </div>
                            <div class="col-sm-1 solutionTitle solutionTitle-noSplit">链接：</div>
                            <div class="col-sm-6">
                                <textarea class="ts-text2 form-control" rows="1"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-default" role="cancel">取消</button>
                            <button class="btn btn-primary" role="ac-save">保存</button>
                        </div>
                    </div>

                    <div class="create-handle">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        <span class="create-handle-label">添加整体解决方案</span>
                    </div>

                </div>
            </div>
        </div>


            <!-- 附件列表-->
            <form class="task-detail" enctype="multipart/form-data">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-link"></span>&nbsp;附件内容</h6>
                    <div class="attachmentList">
                        <ul class="list">

                        </ul>
                        <div class="fileHandle">
                            <!--proejctkey 为字段名称限制-->
                            <input type="file" name="file" id="file">
                            <input style="display: none" type="text" name="projectKey" value="<% print('teamid/'+ teamId) %>">
                        </div>
                    </div>
                </div>
            </form>


            <!-- 备注-->
            <form class="task-detail">
                <div class="task-detail-wrap">
                    <h6 class="task-info-title"><span class="glyphicon glyphicon-comment"></span>&nbsp;备注</h6>
                    <div class="reqCommentList">
                        <ul class="ac-list"></ul>

                        <div class="creator form-horizontal" style="display: block;">
                            <div class="col-sm-9">
                                <textarea class="ac-text form-control col-sm-10" rows="1"></textarea>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-default" role="cancel">取消</button>
                                <button class="btn btn-primary" role="ac-save">保存</button>
                            </div>
                        </div>

                        <div class="create-handle">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="create-handle-label">添加备注</span>
                        </div>

                    </div>
                </div>
            </form>

            <form class="hide">
                <input name="issueKey" value="<%= issueKey %>">
                <input name="teamId" value="<%= teamId %>">
                <input name="reqState" value="<%= reqState %>">
                <input name="state" value="<%= state %>">
                <input name="creator" value="<%= creator %>">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" role="save">保存</button>
        </div>
    </div>
</div>